<div id="<%= dom_id article %>">
  <tr>
    <td><%= l(article.created_at, format: :only_date) %></td>
    <td>Frontend</td>
    <td><%= article.title %></td>
    <td>
      <div class="icons">
        <%= link_to admin_article_path(article), title: "Visualizar", alt: "eye" do %>
          <%= image_tag "icons/gray/eye.svg"%>
        <% end %>
  
        <%= link_to edit_admin_article_path(article), alt: "edit" do %>
          <%= image_tag "icons/gray/edit.svg" %>
        <% end %>

        <%= button_to [:admin, article], method: :delete, data: { turbo: "false" }, alt: "close", class: "button clean" do %>
          <%= image_tag "icons/gray/close.svg" %>
        <% end %>
        
      </div>
    </td>
  </tr>
</div>