<div class="row">
  <%= form_with(model: [:admin, article], class: "form", id: "article-form") do |form| %>
      <div class="input-row">
        <div class="input-container">
          <%= form.label :title, class: "label" %>
          <%= form.text_field :title, placeholder: "Digite aqui o título do post", class: "input", disabled: params[:action] == "show" %>
        </div>
      </div>
      <div class="input-row">
        <div class="input-container">
          <%= form.label :body, class: "label" %>
          <%= form.textarea :body, rows: 18, placeholder: "Digite aqui o conteúdo do post", class: "textarea", disabled: params[:action] == "show" %>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <%= form.label :category_id, class: "label" %>
          <%= form.select :category_id, options_from_collection_for_select(@categories, "id", "name", article.category_id), { include_blank: "Selecione uma categoria" }, {class: "select", disabled: params[:action] == "show"} %>
        </div>
      </div>

      <div>
        <%= form.label :cover_image, style: "display: block", class: "label-input-file" %>
        <%= form.file_field :cover_image if params[:action] != "show" %>
        <div id= <%= dom_id(article) %>>
          <%= image_tag article.cover_image.variant(:thumb) if article.cover_image.attached? %>
          <%= link_to "Remover imagem",destroy_cover_image_admin_article_path(article), data: { "turbo-confirm": "Tem certeza que deseja remover a imagem?", "turbo-method": :delete } if article.cover_image.attached? && params[:action] != "show" %>
        </div>
      </div>
    </div>
    <%= button_to "Apagar artigo", [:admin, @article], method: :delete, class: "button small full", form_class: "full", data: {turbo: false} if params[:action] == "show" %>
    <%= form.submit style: "display: none" %>
  <% end %>
</div>