<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<p>
  <%= "Welcome to the admin area " + current_admin_user.email %>
</p>

<%= link_to destroy_admin_user_session_path, data: { turbo_method: :delete } do %>
  <button>Fazer Logoff</button>
<% end %>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", [:admin, article] %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_admin_article_path %>
