<section class="section login-form-section">
  <div class="container">
    <h1 class="form-title">Olá, é seu primeiro acesso ?</h1>
    <h3 class="form-subtitle">Para criar uma conta, complete seu cadastro abaixo</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form paddingless borderless" }) do |f| %>
      <div class="input-row">
        <div class="input-container">
          <%= f.label :email, class: "label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Digite seu e-mail", class: "input" %>
        </div>
      </div>
      <div class="input-row double">
        <div class="input-container">
          <%= f.label :password, class: "label" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Crie uma senha", class: "input" %>
        </div>
        <div class="input-container">
          <%= f.label :password_confirmation, class: "label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmar senha", class: "input" %>
        </div>
      </div>
      <div class="input-row">
        <div class="input-container">
          <%= f.submit "Finalizar cadastro", class: "button full" %>
        </div>
      </div>
      <div class="form-divisor"></div>
      <div class="social-buttons">
        <a href="login-senha.html" class="button google">
          <span class="button-icon"></span>
          <span class="button-label">Continuar com Google</span>
        </a>
        <a href="login-senha.html" class="button facebook">
          <span class="button-icon"></span>
          <span class="button-label">Continuar com Facebook</span>
        </a>
        <a href="login-senha.html" class="button apple">
          <span class="button-icon"></span>
          <span class="button-label">Continuar com Apple</span>
        </a>
      </div>
    <% end %>
  </div>
</section>